@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;

}


@keyframes progressAnimation {
  0% {
    background-color: #0da5e9;
  }
  100% {
    background-color: #0da5e9;
  }
}

.progress-bar {
  animation: progressAnimation 3s ease-out forwards;
}

